.timeslot div {
  width: 45px;
  border: 2px solid cyan;
  border-radius: 50%;
}

.active {
  background-color: deepskyblue;
  color: white;
  font-weight: 600;
}

.search-input-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 20px; /* Adjust the right distance as needed */
  transform: translateY(-50%);
}

.addBtn {
  background-color: darkslateblue !important;
}

table thead {
  background-color: cyan !important;
}

table thead tr {
  height: 65px;
}

table thead tr th {
  padding-bottom: 20px !important;
  padding-left: 20px !important;
}

table tbody tr {
  height: 65px;
  border-left: 1px solid cyan;
  border-right: 1px solid cyan;
}

.modal-dialog {
  margin: 6.75rem auto !important;
  margin-left: 75rem !important;
}

svg {
  cursor: pointer;
}
